body
{
  background-image:url('../images/retina_wood.png');
  font-family:Georgia,Serif;
}
h1
{
  font-size:300%;
  text-align:center;
}
.position
{
  text-align:center;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.different
{
  text-align:left;
}
